@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 
 
.mainConteiner{
    margin: auto;
    width: 25%;
    margin-top: 15%;
}

 .form{
    font-family: Impact, 'Inter&display', 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: center
 }

 .header{
    display: flex;
    flex-direction: column;
 }
 #signUp{
    font-weight: bold;
    font-size: 45px;

 }

 .inputs input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;

 }